<!DOCTYPE html>
<html>
<meta charset="UTF-8"
<head>
<title>Pizzeria</title>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="stylesheet" type="text/css" href="../css/pizza_form.css">
</head>

<body>
	<h1 >PIZZERIA </h1>
	<div class='flex-containter'>
		<div class='col'>
			<div class='flex-item'>
				<form class="pizza_form">
					<ul>
						<li>
							<input type="text">
							<span>Enter a city</span>
						</li>
					</ul>
					<a href="#">Find me pizza</a>
				</form>
			</div>
		</div>
	</div>
</body>

</html>